<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distributed Code Executor</title>
    <base href="/">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <script type="text/javascript"src="static/js/jquery-1.12.3.min.js"></script>

    <script type="text/javascript" src="static/js/angular.min.js"></script>
    <script type="text/javascript" src="static/js/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="static/js/ng-file-upload-shim.min.js"></script>

    <script type="text/javascript" src="static/js/app/index.js"></script>
    <script type="text/javascript" src="static/js/app/controllers.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="container-fluid">
        <div class="navbar shade navbar-default top-bar">
            <div class="container">
                <a href="/" class="navbar-brand">Distributed Code Executor</a>
                <ul class="nav navbar-nav navbar-right nav-pills">
                    <li>
                        <a href="#" data-toggle="dropdown">
                            Hello, {{ user }}<span class='caret'></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/accounts/logout/">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% verbatim %}
    <div class="container-fluid dashboard" ng-app="drive" ng-controller="DashboardController">
        <div class="secondary-navbar shade">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <ul class="nav navbar-nav navbar-left nav-pills secondary-nav">
                        <li>
                            <a href="#" data-toggle="dropdown">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                Upload<span class='caret'></span>
                            </a>
                            <ul class="dropdown-menu" ng-controller="UploadController">
                                <li><label for="exec-files">Executable Files<input type="file" id="exec-files" ngf-select="uploadFiles($files, $invalidFiles, 'E')" multiple></label></li>
                                <li><label for="io-files">Input Files<input type="file" id="io-files" ngf-select="uploadFiles($files, $invalidFiles, 'I')" multiple></label></li>
                            </ul>
                        </li>
                        <li><a ng-click="schedule_execution()">Execute</a></li>
                        <li><a ng-click="delete_files()">Delete</a></li>
                        <li><a ng-click="diff_files()">Diff</a></li>
                    </ul>
                </div>
            </div>
        <div class="col-md-2"></div>
        <div class="col-md-10 grey tall" style="padding: 3em; padding-top: 1em;">
            <h3 class="col-md-push-1 light" ng-show="userFiles.length!=0">Files</h3>
            <div class="header-details text-left">
                <div class="col-md-1 thumb-nail text-center">
                    <i class="fa fa-square-o" aria-hidden="true" ng-show="selected==0" ng-click="switch_all_files()"></i>
                    <i class="fa fa-minus-square" ng-hide="selected==0 || selected==userFiles.length" ng-click="switch_all_files()" aria-hidden="true"></i>
                    <i class="fa fa-check-square-o" aria-hidden="true" ng-show="selected==userFiles.length" ng-click="switch_all_files()"></i>
                </div>
                <div class="col-md-6 bold text-left" style="overflow: hidden; text-overflow: ellipsis;">
                    <span style="padding-left: 50px; white-space: nowrap;" >File Name</span>
                </div>
                <div class="col-md-3 text-center">Last Updated</div>
                <div class="col-md-1">Size</div>
            </div>
            <div ng-repeat="file in userFiles" class="file-details text-left">
                <div class="thumb-nail text-center" ng-mouseover="hover=1" ng-mouseleave="hover=0" ng-init="hover=0;file.selected=false;">
                    <i class="fa fa-file-text" aria-hidden="true" ng-show="file.type!='E' && hover==0 && file.selected==false" ></i>
                    <i class="fa fa-file-code-o" aria-hidden="true" ng-show="file.type=='E' && hover==0 &&  file.selected==false"></i>
                    <i class="fa fa-square-o" aria-hidden="true" ng-show="hover==1 && file.selected==false" ng-click="switch_selection(file)"></i>
                    <i class="fa fa-check-square-o" aria-hidden="true" ng-show="file.selected==true" ng-click="switch_selection(file)"></i>
                </div>
                <div class="col-md-6 bold text-left" style="overflow: hidden; text-overflow: ellipsis;">
                    <span style="padding-left: 50px; white-space: nowrap;" >{{ file.name }}</span>
                </div>
                <div class="col-md-2 light text-center">{{ file.last_updated | date:'MMM d, y' }}</div>
                <div class="col-md-1 light">{{ file.last_updated | date:'h:mm a' }}</div>
                <div class="col-md-1 light">{{ file.size | bytes }}</div>
                <div class="light text-right dots">
                        <i class="fa" ng-class="trash==0 ? 'fa-trash-o' : 'fa-trash'" aria-hidden="true" ng-mouseover="trash=1" ng-mouseleave="trash=0" ng-init="trash=0" ng-click="delete_file(file)"></i>
                        <a download="{{ file.name }}" ng-href="/download/?file_id={{ file.id }}"><i class="fa fa-download" aria-hidden="true"></i></a>

                </div>

            </div>
            <h3 class="col-md-push-1 light" ng-show="schedules">Schedules</h3>
            <div ng-repeat="schedule in schedules" class="file-details text-center">
                <div class="col-md-1 thumb-nail text-center" ng-mouseover="hover=1" ng-mouseleave="hover=0" ng-init="hover=0;file.selected=false;">
                    <i class="fa fa-refresh" aria-hidden="true" ng-show="['S', 'W', 'F'].indexOf(schedule.status) != -1"></i>
                    <i class="fa fa-times" aria-hidden="true" ng-show="schedule.status=='C'"></i>
                    <i class="fa fa-check" aria-hidden="true" ng-show="schedule.status=='E'"></i>
                </div>
                <div class="col-md-6 bold text-left" style="overflow: hidden; text-overflow: ellipsis;">
                    <span style="padding-left: 50px; white-space: nowrap;" >{{ schedule.id }}</span>
                </div>
                <div class="col-md-1 light">{{ schedule.time_taken }}s</div>
                <div class="col-md-1 light">{{ schedule.status }}</div>
                <div class="col-md-1 light text-center">{{ schedule.memory_used | bytes }}</div>
            </div>
            <div style="background-color: rgba(0,0,0,0.8)" class="fullscreen" ng-show="diff.length!=0"></div>
            <div class="mid">
                <div ng-show="diff.length!=0" class="diff">
                    <div style="background-color: rgb(247, 247, 247);width: 1148px;height:50px;" class="dialog" ng-show="diff.length!=0">
                        <i class="fa fa-times" aria-hidden="true" ng-click="diff.length=0;"></i>
                    </div>
                    <pre ng-repeat="chunk in diff track by $index" ng-class="color[chunk.delta]">{{ chunk.line }}</pre>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</body>
    <script src="static/js/bootstrap.min.js"></script>
</html>