<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distributed Code Executor</title>
    <base href="/">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="static/js/jquery-1.12.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="container-fluid back-img">
        <div class="navbar shade navbar-default">
            <div class="container">
                <a href="/" class="navbar-brand">Distributed Code Executor</a>
                <ul class="nav navbar-nav navbar-right nav-pills">
                    <li>
                        <a href="#">Hello, Guest<span class='caret'></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row gap" style="background-color: transparent;border-color: transparent"></div>
            <div class="row">
                <div class="col-md-6">
                    <form action="/accounts/signup/" method="post">
                         {% csrf_token %}
                        <input name="email" type="email" class="col-md-8 col-md-push-1" placeholder="Email">
                        <input name="username" type="text" class="col-md-8 col-md-push-1" placeholder="Username">
                        <input name="password" type="password" class="col-md-8 col-md-push-1" placeholder="Password">
                        <input type="password" class="col-md-8 col-md-push-1" placeholder="Confirm password">
                        <label class="checkbox col-md-6 col-md-push-1">
                            <input type="checkbox"> I agree to Terms and Conditions
                        </label>
                        <button type="submit" class="btn btn-primary col-md-offset-6 col-md-2 col-md-push-1">Sign Up</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form action="/accounts/login/" method="post">
                         {% csrf_token %}
                        <input name="username" type="text" class="col-md-8 col-md-push-3" placeholder="Username">
                        <input name="password" type="password" class="col-md-8 col-md-push-3" placeholder="Password">
                        <label class="checkbox col-md-8 col-md-push-3">
                            <input type="checkbox"> Remember me
                        </label>
                        <button type="submit" class="btn btn-default col-md-push-3 col-md-offset-6 col-md-2">Login</button>
                    </form>
                </div>
            </div>
            <div class="row gap" style="background-color: transparent;border-color: transparent"></div>
        </div>
    </div>

</body>
    <script src="static/js/bootstrap.min.js"></script>
</html>