@font-face {
    font-family: 'OpenSans Light';
    src: url('/static/fonts/OpenSans-Light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

*:focus {
    outline: none;
}

* {
    font-family: OpenSans Light;
}


.shade {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

/*button:hover {*/
/*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
/*}*/
.gap {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
}
.back-img {
    background-image: url('/static/imgs/background0.png');
    background-size: 100% 40em;
    background-repeat: no-repeat;
    background-position: 0em -5em;
}
label{
    font-size: 12px;
}
input {
    font-size: 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 0em solid;
    padding: 9px 9px 9px 9px;
}

.btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 0px solid;
    font-size: 17px;
    font-variant: small-caps;
}

.btn-primary {
    background-color: rgba(33, 150, 243, 1);
}

.btn-primary:hover {
    background-color: rgba(30, 136, 229, 1);
}

.btn-default:hover {
    background-color: rgba(238, 238, 238, 1);
}

.container-fluid {
    padding: 0em;
}

.navbar {
    margin-bottom: 0em;
}

input[type="file"] {
    display: none;
}

.dropdown-menu> li > label {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: rgb(51, 51, 51);
    white-space: nowrap;
    margin-bottom: 0px;
    cursor: pointer;
}

.dropdown-menu> li > label:hover{
    color: rgb(38, 38, 38);
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.secondary-nav > li > a {
    padding: 10px 15px!important;
    border-radius: 0em;
    color: rgb(238,238,238);
}
.secondary-nav > li > a:hover,.open > a:focus {
    color: rgb(51, 122, 183);
}

.top-bar {
    z-index: 10;
    position: relative;
}

.grey {
    background-color: rgb(221,221,221);
}

html, body{
    height: 100%;
}

.dashboard {
    height: 92%;
}

.secondary-navbar {
    position: relative;
    min-height: 40px;
    background-color: rgb(0, 102, 152);
    z-index: 5;
}

.secondary-navbar a {
    color: white;
}

.navbar {
    border-radius: 4px;
}

.tall {
    height: 100%;
}

.file-details {
    height: 50px;
    box-shadow: 0 -1px 0 rgb(229, 229, 229),0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(197, 197, 197);
}

.file-details > div {
    padding: 15px 0px;
}

.light {
    color: rgb(119, 119, 119);
}

.bold{
    font-weight: bold;
}

.thumb-nail {
    color:rgb(0, 102, 152);
    font-size: 18px;
    padding: 12px 0px!important;
    width: 50px;
    position: absolute;
}